<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
<div id="app">
    <img src="../static/keydom.png" style="width: 100%">
    <h1 v-for="item in letters">{{item}}</h1>
    <hr>
    <ul>
        <li v-for="item in letters">{{item}}</li>
    </ul>
    <hr><br>
    <h1 v-for="item in letters" :key="item">{{item}}</h1>
</div>
</body>

<script src="../js/vue.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
           letters:['A','B','C','D','E']
        },
    })


</script>
<style>
    [v-cloak] {
        display: none;
    }
</style>
</html>
